.navbar-logo {
  padding-left: 4%;
  font-size: 1.3rem;
  font-weight: bold;

}

.navbar-links {
  display: flex;
  gap: 15%;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  padding-right: 4%;
}

.navbar button {
  padding: 6px 12px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.navbar button:hover {
  background-color: #555;
}
