.optionsmap{
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 10px;
  justify-content: center;
}

.selected{
  font-size: 12px;
  border: 1px solid rgb(255, 0, 0); 
  background: #44446a;;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
}